* {margin: 0; box-sizing: border-box;}

main{
    margin: 0 0 150px 0;
}

header{
    text-align: center;
}

header a img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

header{
    padding: 20px 0 35px 0;
}

main h2{
    padding: 0 10% 0 10%;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    background: linear-gradient(rgba(255, 255, 255,.6), rgba(255, 255, 255, .6)), url(/clayonthetrail.github.io/youtube/images/background.JPG) no-repeat fixed;
    background-size: cover
}

header h1{
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

ul li{
    list-style-type: none;
}

ul li.active{
    background-color: darkgray;
}

ul{
    background-color: rgb(34, 139, 34);
    width: 100%;
}

ul.responsive{
    display: none;
}

button.icon{
    padding: 10px 10px 0 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    float: right;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(50, 50, 50, 0), rgb(50, 50, 50), rgb(50, 50, 50), rgb(50, 50, 50), rgb(50, 50, 50));
    padding: 20px 0 0 0;
    color: white;
}

footer h3{
    text-align: center;
}

footer p{
    text-align: center;
}

.fa {
    padding: 7px 0 0 0;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
}

.paragraph{
    font-size: 1.5rem;
    width: 80%;
    margin: 40px auto;
    font-weight: bold;
}

#me{
    float: left;
    padding: 0 10px 0 0;
    max-height: 200px;
}

#highline{
    float:right;
    max-height:200px;
}

#yellowstone{
    float: left;
    max-height: 200px;
    margin: 20px;
}

#rat{
    float: right;
    max-height: 200px;
    margin: 20px;
}

@media only screen and (min-width: 800px) {
    nav{
        background-color: rgba(255, 255, 255, .8);
    }
    ul{
        width: 700px;
        margin: 0 auto;
    }

    ul li{
        height: 20px;
        width: 100px;
        text-align: center;
    }

    ul li a{
        font-size: 1.0rem;
    }

    ul#topnav{
        display: flex;
        justify-content: space-around;
        background: none;
    }

    ul#topnav li a{
        color: black;
    }

    ul li:hover{
        background-color: forestgreen;
        color: white;
        transition: 1s;
    }

    ul li.active{
        background-color: forestgreen;
    }

    ul li.active a{
        color: white;
    }

    button.icon{
        display: none;
    }
}
