* { margin: 0; box-sizing: border-box; }

/* html tags */

.link:hover{
    background-color: forestgreen;
    color: white;
}

body{
    background-color:lightyellow;
}

header{
    background-image: url(/clayonthetrail.github.io/youtube/images/home.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat,repeat;
}

h1{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 3%;
}

footer{
    height:auto;
    width:100%;
    background-color:black;
    opacity:.5;
    color:white;
    text-align: center;
    position:fixed;
    bottom:0;
}

h2{
    color: black;
    font-size: 1.0rem;
    width: 100%;
    text-align: center;
    padding-bottom:20px;
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* classes */

/* id's */

#me{
    float:left;
    position: absolute;
    top: 20%;
    left: 5%;
    border: 5px solid;
    border-color: black;
    height: 25%;
    width: auto;
}

nav{
    background-color: rgba(255, 255, 255, .8)
}

#topnav li{
    list-style-type: none;
}

#topnav li:hover{
    background-color: forestgreen;
}


button.icon{
    display: flex;
    position: absolute;
    right: 0;
    color: rgb(0, 0, 0);
    background: none;
    margin: 10px 10px 0 10px;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
}

#topnav{
}

#topnav li a{
    text-decoration: none;
    color: black;
    text-align: left;
}

.responsive{
    display: none;
}

.active{
    background-color: forestgreen;
    color: white;
}

@media only screen and (min-width: 800px) {
    button.icon{
        display: none;
    }

    nav{
        height: 23px;
        width: 100%;
        }
    }

    #topnav{
        margin: 0 auto;
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #topnav li{
        height: 20px;
        width: 120px;
        text-align: center;
    }

    #topnav li a{
        text-decoration: none;
        height: 20px;
    }
}
