* { margin: 0; box-sizing: border-box; }

/*html elements*/
nav{
    position: fixed;
    top: 0px;
    left:0px;
    background: rgba(220, 220, 220, .8);
    width:100%;
    height: 25px;
    text-align: center;
    color: darkgray;
}

body{
    background: linear-gradient(rgba(220, 220, 220, .6), rgba(220, 220, 220, .6)),
        url(/clayonthetrail.github.io/youtube/images/background.JPG) no-repeat fixed;
    background-size: cover;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

figure{
    display:inline-block;
    margin: 10px;
    text-align:center;
    padding-top: 5%;
}

footer{
    height:auto;
    width:100%;
    background-color:black;
    opacity:.5;
    color:white;
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
}

/*id*/

#current{
    text-decoration: none;
    padding-left: 5%;
    padding-right:5%;
    color: white;
    background-color: forestgreen;
    width: 10%;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.25rem;
}

/*class*/

.link{
    text-decoration: none;
    padding-left: 5%;
    padding-right:5%;
    color: black;
    width: 10%;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.25rem;
}



.link:hover{
    background-color: forestgreen;
    color: white;
}

.trails1{
    height: 250px;
    width: 300px;
    padding-top: 100px;
    display: inline-block;
}

.caption{
    text-decoration: none;
    padding:.5%;
    color: black;
    font-weight:bold;
}


.grid-container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item{
    margin: 25px;
}

@media screen and(max-width: 600px){
    body{
        max-width: 320px;
    }

    .trails1{
        width: 200px;
        height: 200px;
        padding-left: 0px;
        padding-right: 0px;
    }

}


