* {margin: 0; box-sizing: border-box;}

header{
    text-align: center;
}

header a img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

header{
    padding: 20px 0 35px 0;
}

main h2{
    padding: 0 10% 0 10%;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    background: linear-gradient(rgba(255, 255, 255,.6), rgba(255, 255, 255, .6)), url(/clayonthetrail.github.io/youtube/images/background.JPG) no-repeat fixed;
    background-size: cover
}

header h1{
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style-type: none;
}

ul{
    background-color: forestgreen;
    width: 100%;
}

ul.responsive{
    display: none;
}

button.icon{
    padding: 10px 10px 0 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    float: right;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(34, 139, 34, 0), rgba(34, 139, 34), rgba(34, 139, 34), rgba(34, 139, 34));
    padding: 20px 0 0 0;
}

footer h3{
    text-align: center;
}

footer p{
    text-align: center;
}

.fa {
    padding: 7px 0 0 0;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
}

iframe{
    width: 210px;
    height: 118px;
    margin-bottom:2%;
}

.video{
    padding-bottom:10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

figure{
    margin: 0 auto;
    text-align:center;
    width: 210px;
    height: 158px;
    max-width: 210px;
}

img{
    height: 118px;
    width: 210px;
}

.grid-container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item{
    margin: 25px;
}

.youtube{
    border: 2px solid;
    border-color: red;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3px;
    margin: 2px;
    border-radius: 8px;
}

.ugetube{
    border: 2px solid;
    border-color: black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3px;
    margin: 2px;
    border-radius: 8px;
}

.ugetube:hover{
    border: 2px solid black;
    background: linear-gradient(black, blue, black);
    color: white;
    box-shadow: 10px 10px 20px;
}
.youtube:hover{
    border: 2px solid red;
    background: linear-gradient(red, lightpink, red);
    box-shadow: -10px 10px 10px;
}

main{
    padding: 0 0 150px 0;
}

@media only screen and (min-width: 800px) {
    nav{
        background-color: rgba(255, 255, 255, .8);
    }
    ul{
        width: 700px;
        margin: 0 auto;
    }

    ul li{
        height: 20px;
        width: 100px;
        text-align: center;
    }

    ul#topnav{
        display: flex;
        justify-content: space-around;
        background: none;
    }

    ul#topnav li a{
        color: black;
    }

    ul li:hover{
        background-color: forestgreen;
        color: white;
        transition: 1s;
    }

    ul li.active{
        background-color: forestgreen;
    }

    ul li.active a{
        color: white;
    }

    button.icon{
        display: none;
    }
}
