* {margin: 0; box-sizing: border-box;}

main{
    margin: 0 0 150 0;
}

header{
    text-align: center;
}

header a img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

header{
    padding: 20px 0 35px 0;
}

main h2{
    padding: 0 10% 0 10%;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    background: linear-gradient(rgba(255, 255, 255,.6), rgba(255, 255, 255, .6)), url(/clayonthetrail.github.io/images/background.JPG) no-repeat fixed;
    background-size: cover
}

header h1{
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

ul li{
    list-style-type: none;
}

ul li.active{
    background-color: darkgray;
}

ul{
    background-color: rgb(34, 139, 34);
    width: 100%;
}

ul.responsive{
    display: none;
}

button.icon{
    padding: 10px 10px 0 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    float: right;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(50, 50, 50, 0), rgb(50, 50, 50), rgb(50, 50, 50), rgb(50, 50, 50), rgb(50, 50, 50));
    padding: 20px 0 0 0;
    color: white;
}

footer h3{
    text-align: center;
}

footer p{
    text-align: center;
}

.fa {
    padding: 7px 0 0 0;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
}


figure{
    margin: 10px auto 10pc auto;
    text-align:center;
    padding-top: 5%;
}

figcaption{
    margin: 15px auto 0 auto;
    height: 25px;
    text-align: center;
}

.caption:hover{
    background: linear-gradient(rgb(40,184,40), rgb(92,184,92), rgb(40,184,40));
}

.caption{
    background-color: rgb(92,184,92);
    border-radius: 12px;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.grid-item{
    max-width: 300px;
    margin: 0 auto;
}

iframe.map{
    border: none;
    background-color: white;
    width: 300px;
    height: 430px;
    margin: 0 auto;
}

@media only screen and (min-width: 800px) {

    body{
        margin: 0 auto:
        max-width: 800px;
    }

    nav{
        background-color: rgba(255, 255, 255, .8);
    }

    ul{
        width: 700px;
        margin: 0 auto;
    }

    ul li{
        height: 20px;
        width: 100px;
        text-align: center;
    }

    ul li a{
        font-size: 1.0rem;
    }

    ul#topnav{
        display: flex;
        justify-content: space-around;
        background: none;
    }

    ul#topnav li a{
        color: black;
    }

    ul li:hover{
        background-color: forestgreen;
        color: white;
        transition: 1s;
    }

    ul li.active{
        background-color: forestgreen;
    }

    ul li.active a{
        color: white;
    }

    button.icon{
        display: none;
    }

    body{
        max-width: 600px;
    }

    .grid-item{
        max-width: 500px;
    }

    iframe.map{
        width: 500px;
    }
}

@media only screen and (min-width: 1024px){


    body{
        max-width: 1500px;
    }

    .grid-container{
        grid-template-columns: 1fr 1fr;
    }

    .grid-item{
        max-width: 500px;
    }

    iframe.map{
        width: 500px;
        height: 430px;
    }

}
