* { margin: 0; box-sizing: border-box; }
:link{
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px;
    color: darkgray;
    background-color: white;
    width: 150px;
    height: 20px;
    border-width: 10px;
    border-color: forestgreen;
    text-align: center;
    vertical-align: middle;
    font-size: 1.25rem;
}
